@charset "UTF-8";
/* CSS Document */

@-moz-veiwport{ width: device-width; scale: 1;}
@-ms-veiwport{ width: device-width; scale: 1;}
@-o-veiwport{ width: device-width; scale: 1;}
@-webkit-veiwport{ width: device-width; scale: 1;}
@veiwport{ width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;	
}

body {
	font-size: 100%;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height:1.5rem;
}

.masthead {
	background-color:#BFBFBF;
	height: 6rem; 
	position: fixed; 
	width: 100%;
}

.logo { 
 width: 75px; 
 position: fixed; 
 left: 1rem; 
 top: .75rem; 
}

nav ul {
	position:fixed; 
	width: 100%;
	top: 2rem;
	right: 1rem;
	text-align:right;
}

nav li {
	display: inline; 
}

h2 { 
position: fixed; 
top: 6rem;
text-align:center;
background-color:#757575;
color:#FFFFFF;
padding: 1rem;
width: 100%;
}

.banner { 
position: relative; 
z-index:-1;
top: 10rem;
width:95%;
margin: 10px 15px 10px;
}

p { 
position:relative;
background-color:#E7E7E7;
padding: 1rem;
top: 10rem;
width: 95%;
margin: 0px 15px 10px;
}